//Media Query

/* 992px o menos */
@media screen and (max-width: 992px) {
    .bannerIndex {
    background-image: url(../img/cupcakeBanner.png);
    background-repeat: no-repeat;
    background-size: cover;    
    }
}

  /* 600px o menos */
@media screen and (max-width: 600px) {
.bannerIndex {
    background-image: url(../img/cupcakeBanner.png);
    background-repeat: no-repeat;
    background-size: cover;    
    }
}



.logoMinga {
    width: 250px;
    height: 100px;
    list-style-type: none;
}

.socialNetworkLogo {
    width:25px;
    margin: 2px;
    padding-bottom: 5px;
}

.socialNetworkLogoFondo {
    margin-right: 10px;
}

.centrarSocialNetwork {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.bannerNosotros {
    background-image: url(../img/cupcakeBanner2.jpg);
    height: 250px; 
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; 
}

.bannerIndex {
    background-image: url(../img/cupcakeBanner.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 126px);
}

.fotoBannerIndex {
    height: calc(100vh - 126px);
}

.bannerMinga {
    background-image: url(../img/mingabanner.png);
    height: 200px; 
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; 
}

.bannerSubscribe {
    display: flex;
    background-image: url(../img/subscribePic.jpg);
    background-size: cover; 
    height: 200px;
    padding-top: 10px;
    margin-top: 10px;
    width: 100%;
    // margin-left: 10%;
    // padding-left: 10px;

}

// FOTOS

.gridFotos {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    margin: 20px;
}


.fotosIndex {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.miniFoto {
    display: flex;
    width: 350px;
    height: 350px;
    flex-wrap: nowrap;
}

.fotoBaH {
    display: flex;
    width: 100%;
    height: 100%;
    margin-bottom: 5%;
    flex-wrap: nowrap;
    
}

.miniFotoGaleria {
    display: flex;
    width: 350px;
    height: 350px;
    margin-left: 10px;
    margin-bottom: 10px;
    flex-wrap: nowrap;
    transition: height 1s, width 1s;
}

.whitePic {
    width: 350px;
    height: 350px;
    background-color: white;
}

.achicaCarousel {
    display: flex;
    justify-items: center;
    max-height: 640px !important;
    max-width: 640px !important;
}

.bannerGaleria {
    max-height: 499px !important;
}

// Cambiar color flechas carousel

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 100px;
    width: 100px;
    outline: transparent;
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid transparent;
    background-image: none;
}

.carousel-control-next-icon:after
{
    content: '>';
        font-size: 55px;
        color:$fondoBotones;
}

.carousel-control-prev-icon:after {
    content: '<';
        font-size: 55px;
        color: $fondoBotones;
}