h1.textoCover {
    font-family: 'Roboto', sans-serif;
    font-size:15vw;
    font-weight: bold;
    margin-top: 5%;
    text-shadow: 2px 2px 4px #000000;
}

h1 {
    font-family: 'Roboto', sans-serif;
}

h2 {
font-family: 'Roboto', sans-serif;
}

h3 {
font-family: 'Roboto', sans-serif;
}

h4 {
font-family: 'Roboto', sans-serif;
}

h5 {
font-family: 'Roboto', sans-serif;
}

h6 {
font-family: 'Roboto', sans-serif;
}

.titulos {
    font-family: 'Roboto', sans-serif;
    color: $textoBotones;
}

.tituloPrincipalContacto {
    font-family: 'Roboto', sans-serif;
    color: #FDC8BE;
}