// font-family: 'Abril Fatface', cursive;
// font-family: 'Raleway', sans-serif;
// font-family: 'Roboto', sans-serif;

h1.textoCoverIndex {
    font-family: 'Raleway', sans-serif;
    font-size:10vw;
    font-weight: bold;
    margin-top: 5%;
    text-shadow: 2px 2px 4px #000000;
}

h1.textoCover {
    font-family: 'Raleway', sans-serif;
    font-size:4vw;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
}

h1 {
    font-family: 'Roboto', sans-serif;
}

h2 {
font-family: 'Roboto', sans-serif;
}

h3 {
font-family: 'Roboto', sans-serif;
}

h4 {
font-family: 'Roboto', sans-serif;
}

h5 {
font-family: 'Roboto', sans-serif;
}

h6 {
font-family: 'Roboto', sans-serif;
}

.titulos {
    font-family: 'Roboto', sans-serif;
    color: $textoBotones;
}

.tituloPrincipalContacto {
    font-family: 'Roboto', sans-serif;
    color: #FDC8BE;
}

.centrarCosas {
    display: flex;
    justify-content: center;
    width: 100%;
}

p .marginBakeAtHome {
    margin-left: 10%;
    margin-right: 10%;
}

.titulosContacto {
    color: $textoContacto
}